
.case{
    width: 50%;
    text-align: center;
}
.text{
    margin-top: 0;
    margin-left: 20px;
    width: 100%;
    text-align: left;
}

.icon {
    width: 200px;
    /* float: left; */
}