.valign-wrapper .valign .wow {
   
    text-transform: capitalize;
}
.footer-servic {
    font-size: 16px;
    text-transform: capitalize;
}
.coming h1 {
    text-transform: capitalize;
}
.navbar .navbar-nav {
   
    text-transform: capitalize;
}
.contact1-form-title {
    text-transform: capitalize!important
   
}