body {
    position: relative;
}

@font-face {
    font-family: sky-bold;
    src: url('../fonts/sky-bold.ttf');
}

@font-face {
    font-family: raqami;
    src: url("../fonts/Raqami.ttf");
}

* {
    scroll-behavior: smooth;
    font-weight: 100;
    font-family: sky-bold;
}


/* Arabic Nav */

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.navbar {
    min-height: 50px;
    margin-bottom: 20px;
    border: none;
    margin: 0;
    position: fixed;
    width: 100%;
    padding: 30px 0;
    border-radius: 0;
    top: 0;
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.navbar .navbar-nav li a {
    letter-spacing: 0;
    font-family: sky-bold;
    color: #f2f2f2;
    padding: 0;
    margin-top: 10px!important;
    display: block;
    position: relative;
    font-size: 14px;
    transition: .3s;
}

.navbar .navbar-nav {
    margin: 10px 0 0;
    text-transform: uppercase;
}

.navbar-brand {
    float: right;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px
}

.navbar-brand:focus,
.navbar-brand:hover {
    text-decoration: none
}

.navbar-brand>img {
    display: block
}

@media (max-width:993px) {
    .navbar-brand {
        float: left;
        padding: 15px;
        font-size: 18px;
        line-height: 20px;
        height: 50px
    }
}

@media (min-width:993px) {
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: -15px;
        margin-top: -10px;
    }
}

.navbar-toggle:focus {
    outline: 0
}

@media (min-width:993px) {
    .navbar-left {
        float: left!important
    }
    .navbar-right {
        float: left!important;
        margin-right: -15px;
    }
}

.navbar .navbar-nav li {
    float: right!important;
    margin-right: 20px;
}

.navbar .navbar-nav li a {
    font-size: 15px;
}

.navbar .navbar-nav li .dropbtn {
    font-family: sky-bold;
}

.navbar .navbar-nav li:last-child {
    margin-top: 0px;
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 0px;
}

.navbar .navbar-nav .icon2 {
    color: #fff;
    font-size: 14px;
    margin-right: 7px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.navbar .navbar-nav a:last-child:hover .icon2 {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
    color: #21b24b;
}

.navbar.sticky .navbar-nav li:last-child {
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.navbar.sticky .navbar-nav .icon2 {
    color: #000;
    font-size: 14px;
    margin-left: 10px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.navbar.sticky .navbar-nav a:hover .icon2 {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
    color: #21b24b;
}

.navbar .navbar-icons {
    padding: 0;
    list-style: none;
    margin-top: 15px;
    float: left;
}

.autotype2 {
    font-family: raqami;
}


/* Launguge */

@media (max-width: 993px) {
    .navbar .navbar-icons {
        top: 0px;
        margin: 20px 15px;
    }
}


/* dropbtn */

.dropbtn {
    background-color: transparent;
    outline: none;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.navbar.sticky .dropbtn {
    color: #131111;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: transparent;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-top: 40px;
    margin-left: -125px;
    text-align: right;
    opacity: 1;
    border-radius: 5px;
    position: absolute;
    background-color: #fff;
    display: none;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    animation: drop 0.5s;
}

@keyframes drop {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.dropdown-content hr {
    margin: 0px;
}

.dropdown-content2 {
    margin-top: 50px;
    margin-left: -90px;
    text-align: right;
    opacity: 1;
    border-radius: 5px;
    position: absolute;
    background-color: #fff;
    display: none;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    animation: drop 0.5s;
}

.dropdown-content2 hr {
    margin: 0px;
}

.dropdown-content a {
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content2 a {
    text-decoration: none;
    color: #131515;
    font-size: 13px;
    transition: 0.3s;
    display: block;
    font-weight: 300;
    font-family: sky-bold;
    letter-spacing: 0px;
}

.dropdown-content2 a:hover {
    color: #21b24b;
}

.navbar .navbar-nav .dropdown-content a {
    font-family: sky-bold;
    color: #000;
    font-size: 15px;
    padding-right: 10px;
}

.navbar .navbar-nav .dropdown-content a:focus,
.navbar .navbar-nav .dropdown-content a:hover {
    color: #21b24b!important;
    background-color: transparent!important;
}

.navbar .navbar-nav .dropdown-content a {
    padding-bottom: 10px;
}

.navbar .navbar-nav .dropdown-content a:first-child {
    padding-top: 0px;
}

@media(max-width: 1091px) {
    .dropdown-content2 {
        position: relative;
        min-width: 50px;
        margin-left: 0px;
        margin-top: 10px;
    }
    .dropdown-content2 a {
        font-size: 15px;
    }
}

@media(max-width: 776px) {
    .dropdown-content2 {
        position: relative;
        min-width: 50px;
        margin-left: 0px;
        margin-top: 10px;
    }
    .dropdown-content2 a {
        font-size: 15px;
    }
}

@media(max-width: 551px) {
    .dropdown-content2 {
        position: relative;
        min-width: 50px;
        margin-left: 0px;
        margin-top: 10px;
    }
    .dropdown-content2 a {
        font-size: 15px;
    }
}


/* End drop button  */


/* ..............Footer...........  */

.footer-servic {
    font-size: 23px;
    text-transform: uppercase;
}

.nav>li,
.nav>li>a {
    float: right;
    display: block;
    text-align: center;
    font-family: sky-bold;
}

.footer .quote>p {
    font-family: sky-bold;
}

.navbar .navbar-nav li a {
    font-family: sky-bold;
}

.footer .quote>p .btn {
    font-family: sky-bold;
}

.footer .copy-right p {
    text-align: right;
}


/* Footer the main */

.footer {
    font-family: sky-bold;
    background-color: #131515;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: -210px -250px;
    padding-top: 95px;
    text-align: center;
}

.footer p {
    font-size: 14px;
    font-weight: 700;
}

.footer .logo img {
    margin: 0px auto;
}

.footer .social li {
    float: right
}

.footer .copy-right {
    direction: ltr;
    margin-top: 10px;
    padding-top: 20px;
    text-align: left;
}

.footer .copy-right p {
    margin-bottom: 0;
    text-transform: uppercase;
    color: #bdbdbd;
}

.footer .quote {
    text-align: right;
}

.footer .quote>h2 {
    font-size: 28px;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 2px;
}

.footer .quote>small {
    color: #b2b2b2;
    font-weight: 700;
    font-size: 10px
}

.footer .quote>p {
    margin: auto;
    font-size: 17px;
    text-align: right;
    color: #bdbdbd;
}

.text-align {
    text-align: center;
}


/* social media */

.about-link {
    padding-left: 0;
    margin-top: 40px;
    margin-bottom: 25px;
    text-align: center;
}

.about-link li {
    display: inline-block;
    text-align: center;
}

.about-link li a {
    color: #b2b2b2;
}

.about-link li a i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    /* border: 1px solid #d6c6b2; */
    margin-right: 10px;
    font-size: 22px;
    color: #d6c6b2;
    transition: all .3s;
}


/* footer responsev */

@media (max-width:1201px) {
    .nav>li,
    .nav>li>a {
        float: right;
        font-size: 20px;
    }
}

@media (max-width:993px) {
    .nav>li,
    .nav>li>a {
        text-align: center;
        float: none;
    }
    .footer .quote>p {
        margin: 50px auto;
        font-size: 17px;
        text-align: center;
        color: #bdbdbd;
    }
    .footer .copy-right p {
        margin-bottom: 100px;
        text-align: center;
    }
}


/* Footer */